@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-aventra: "";
  --font-prettywise-black: "";
  --font-prettywise-bold: "";
  --font-objectivity: "";
  --font-petale: "";
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-aventra {
  font-family: var(--font-aventra);
}

.font-prettywise-black {
  font-family: var(--font-prettywise-black);
}

.font-prettywise-bold {
  font-family: var(--font-prettywise-bold);
}

.font-objectivity {
  font-family: var(--font-objectivity);
}

.font-petale {
  font-family: var(--font-petale);
}

.animate-fade-in {
  opacity: 1 !important;
}
